 /* Encriptador - 1 Desktop */
.container {
    position: relative;
    width: 1453px;
    background: #F3F5FC;
    margin: auto;
}

#btn-pegar{
    width: 150px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
    color: white;
}

.logo{
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0 0 40px;
}

.main {
    display: flex;
}

.cuadroTexto #texto-encriptar{
    width: 600px;
    height: 400px;
    font-size: 25px;
    border: none;
    background: #F3F5FC;
    margin-left: 220px ;
}

#texto-encriptar::placeholder{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #0A3871;
    font-size: 25px;
}
 
.texto-resultado {
    margin-left: 30px;
    padding: 40px;
    width: 400px;
    height: 580px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    font-size: xx-large;
    z-index: 1;
}

 .texto-resultado textarea {
     width: 400px;
     height: 400px;
     display: none;
     border: none;
     font-size: 25px;
     font-family: 'Inter';
 }

.muneco {
    width: 336px;
    height: 304px;
    background: #FFFFFF;
    z-index: 2;
}
.parrafo1 {
    font-size: 16pt;
    font-weight: bold;
}

.pf-2 {
    font-size: 12pt;
}

.btn-copiar{
    text-align: center;
    box-sizing: border-box;
    position: absolute;
    width: 336px;
    height: 67px;
    margin: 0 auto;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: blue;
    display: none;
    margin-top: 10px;
}
.imagenAlerta{
    margin-left: 220px ;
    display: flex;
}

 .imagenAlerta img{
     height: 20px;
     width: 20px;
     margin: 14px;
 }
.mensaje-alerta{
    display: inline-block;
    padding: 0px;
    gap: 24px;
    width: 50%;
    height: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #495057;
    opacity: 0.8;
}

.botones{
    margin-left: 220px ;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 680px;
}

.encriptar button{
    text-align: center;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
    color: white;
    
}
.desencriptar button{
    box-sizing: border-box;
    text-align: center;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
    color: blue;
}   
.rodapie{
    font-size: x-large;
    text-align: center;
    display: flexbox;
}
@media only screen and (max-width: 1080px) {
    .main {
        display: block;
    }

    .cuadroTexto #texto-encriptar {
        margin-left: 0;
    }

    .imagenAlerta{
        margin-left: 0;
    }

    .botones{
        display: block;
        margin-left: 0 ;
    }

    .texto-resultado {
        margin-left: 0px;
    }
}





